<div class="row">
  <div class="col-sm-10 col-offset-1">
    <div>
      <% @topics.each do |topic| %>
        <% if topic.players.present? %>
          <h3><%= topic.name%></h3>
            <table class="table table-striped table-bordered">
              <tr>
                <th>Name</th>
                <th>Score</th>
              </tr>
              <% topic.players.each do |player| %>
                <tr>
                  <td><%= player.name.capitalize %></td>
                  <td><%= player.topic_score(topic) %></td>
                </tr>
              <% end %>
        </table>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Back", root_path , class: "pull-right"%>
  </div>
</div>
