<div class="row">
  <div class="col-sm-10 col-offset-1">
    <h3>Your Score for <%= @trivia.title %> is <%= @trivia_session.score %></h3>
      <div>
        <%= link_to "Play Again", new_trivia_trivia_session_path(@trivia) %>
      </div>
    <div class="pull-right">
      <%= link_to "Back", "/" %>
    </div>
  </div>
</div>
