<div class="row">
  <div class="col-sm-10 col-offset-1">
    <div class="js-result">

    </div>
    <% if @trivia_session.feedback.present? %>
      <div class="js-feedback">

      </div>
    <% end %>
      <div>
        <%= link_to "Play Again", new_trivia_trivia_session_path(@trivia_session.trivia) %>
        <%= link_to "Back", "/", class: "pull-right" %>
      </div>
    <div>
      <a href="#" class="js-prev">...Prev</a>
      <a href="#" class="js-next pull-right">Next...</a>
      <div class="js-current" data-current-trivia-session-id="<%= @trivia_session.id %>"></div>
    </div>
  </div>
</div>
