<div class="row">
  <div class="col-sm-8 col-offset-2">
    <h3>Your Score for <%= @trivia.title %> is <%= @trivia_session.score %></h3>

    <%= link_to "Play Again", new_trivia_trivia_session_path(@trivia) %>
    <%= link_to "Back", "/" %>
  </div>
</div>
