<div class="form-group">
  <%= answer_fields.label :description, "Answer ##{answer_fields.index + 1}", class: "control-label" %>
  <%= answer_fields.check_box :correct %>
  <%= answer_fields.text_field :description, class: "form-control" %>
</div>
