<%= form_for @trivia, method: :get do |f| %>

  <% @questions.each do |question| %>
    <li>
      <%= question.description + "?"%>
        <% question.answers.each do |answer| %>
          <%= f.radio_button  :description, answer.description %>
        <% end %>
    </li>
  <% end %>
<% end %>
