<div class="row">
  <div class="col-sm-10 col-offset-1">
    <div class="edit-trivia-form">
      <%= form_for @trivia, url: topic_trivia_path(@topic, @trivia), method: :patch do |f| %>
        <%= render "form", trivia: @trivia, f:f %>
        <%= link_to "Back", topic_trivias_path(@trivia.topic), class: "pull-right" %>
      <% end %>
    </div>
  </div>
</div>
