<div class="row">
  <div class="col-sm-10 col-offset-1">
    <div class="new-trivia-form">
      <%= form_for @trivia, url: topic_trivias_path(@topic), method: :post do |f| %>
        <%= render "form", trivia: @trivia, f:f %>
        <%= link_to "Back", new_topic_path, class: "pull-right"%>
      <% end %>
    </div>
  </div>
</div>
