<div class="row">
  <div class="col-sm-8 col-offset-2">
    <h3>Your Score for <%= @trivia.title %> is </h3>

    <%= link_to "Play Again", topic_trivia_url(@topic, @trivia) %>
    <%= link_to "Back", "#" %>
  </div>
</div>
