.trivia-zone-home {
  .table {
    .table-header {
      background: $table-bg-active;
      color: black;
    }
  }
}

.btn-primary {
  margin-top: $line-height-computed * 0.5;
}

.trivia-zone-topics {
  .form-control {
    width: $grid-gutter-width * 6;
    margin-bottom: $line-height-computed * 0.5;
  }
}

.new-trivia-form,
.edit-trivia-form {
  .question-field {
    margin-top: $line-height-computed * 3;
  }
}

.topic-display {
  font-size: $line-height-computed * 0.75;
  margin-top: $line-height-computed * 0.5;
}

.trivia-display {
  font-size: $line-height-computed * 0.75;
  margin-top: $line-height-computed * 0.75;
}

.trivia-header {
  margin-bottom: $line-height-computed * 1.5;

  .trivia-link {
    margin-left: $grid-gutter-width * 0.2;
  }
}

.search {
  margin-bottom: $line-height-computed * 3;
  font-size: $line-height-computed * 0.75;
  font-weight: bold;
}

.play-trivia {
  .feedback-form {
    width: $grid-gutter-width * 12;
  }
}
