.trivia-zone-home{
  .table {
    #table-header {
      background: whitesmoke;
      color: black;
    }
  }
}

.btn-primary {
  margin-top: $line-height-computed * 0.5;
}

.trivia-zone-topics {
  .form-control {
    width: $grid-gutter-width * 6;
    margin-bottom: $line-height-computed * 0.5;
  }
}

.new-trivia-form{
  .question-field {
    margin-top: $line-height-computed * 3 ;
  }
}
